<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>"Create a Team and Heroes!"</p>
    <form class="" action="/team" method="post">
      Team Name: <input type="text" name="team[name]">
      Team Motto: <input type="text" name="team[motto]" value="">
      Team Member 1 Name: <input id="member1_name" type="text" name="team[members][][name]" value="">
      Team Member 1 Power: <input id="member1_power" type="" name="team[members][][power]" value="">
      Team Member 1 Bio: <input id="member1_bio" type="text" name="team[members][][bio]" value="">
      Team Member 2 Name: <input id="member2_name" type="text" name="team[members][][name]" value="">
      Team Member 2 Power: <input id="member2_power" type="" name="team[members][][power]" value="">
      Team Member 2 Bio: <input id="member2_bio" type="text" name="team[members][][bio]" value="">
      Team Member 3 Name: <input id="member3_name" type="text" name="team[members][][name]" value="">
      Team Member 3 Power: <input id="member3_power" type="" name="team[members][][power]" value="">
      Team Member 3 Bio: <input id="member3_bio" type="text" name="team[members][][bio]" value="">
      <input type="submit" name="" value="submit">

    </form>



  </body>
</html>
